### juptyer 사용방법
* h : help
- a,b : 셀 추가
* m,y : 마크업 또는 코드
* dd : 셀 한칸 삿제
* 컨트롤 + 엔터 : 실행

In [20]:
#pandas 불러옴
import pandas as pd

In [21]:
# 데이터 읽기
df = pd.read_csv("data/1.pandas.csv")

In [22]:
df

   name  score grade  age
0   Kim  100.0     A   20
1   Cho   95.0     A   30
2  Choi   90.5     B   40
3    jo   85.7     B   50

In [23]:
#Series : 1차원 배열
#[]Serices 형식으로 가져온다
print(df['name']) 
print(df.age)

0     Kim
1     Cho
2    Choi
3      jo
Name: name, dtype: object
0    20
1    30
2    40
3    50
Name: age, dtype: int64

In [24]:
#[[]]DataFrame 형식으로 가져온다
print(df[['name']])

   name
0   Kim
1   Cho
2  Choi
3    jo

In [25]:
print(df[['name','age']])
print("---인덱싱---")

   name  age
0   Kim   20
1   Cho   30
2  Choi   40
3    jo   50
---인덱싱---

In [26]:
#인덱싱 : 인덱스의 범위를 지정한다.
print(df[1:3]) # 1~2까지의 데이터
print(df[:3]) #처음부터 ~2까지의 데이터
print(df[1:]) #1~끝까지의 데이터

   name  score grade  age
1   Cho   95.0     A   30
2  Choi   90.5     B   40
   name  score grade  age
0   Kim  100.0     A   20
1   Cho   95.0     A   30
2  Choi   90.5     B   40
   name  score grade  age
1   Cho   95.0     A   30
2  Choi   90.5     B   40
3    jo   85.7     B   50

In [27]:
print("==loc===")
#loc : DF.loc[ index조건식, 컬럼 조건식 ]

==loc===

In [28]:
print(df.loc[1:3, 'name'])

print(df.loc[1:3, ['name','score']])

print(df.loc[:, 'name':'grade'])

print( df.loc[1:3, ])

1     Cho
2    Choi
3      jo
Name: name, dtype: object
   name  score
1   Cho   95.0
2  Choi   90.5
3    jo   85.7
   name  score grade
0   Kim  100.0     A
1   Cho   95.0     A
2  Choi   90.5     B
3    jo   85.7     B
   name  score grade  age
1   Cho   95.0     A   30
2  Choi   90.5     B   40
3    jo   85.7     B   50

In [29]:
print("================")
print( df['grade']=='A')
print(df[ df['grade']=='A'])

================
0     True
1     True
2    False
3    False
Name: grade, dtype: bool
  name  score grade  age
0  Kim  100.0     A   20
1  Cho   95.0     A   30